@using System.Text.Json;
@using Markdig;
@using Markdig.Extensions.AutoLinks;
@inject HttpClient Http

@if (Project != null)
{
    <div class="project border-l-2 border-gray-400 hover:border-main rounded shadow hover:shadow-main">
        <div class="flex flex-col divide-y md:divide-y-0 divide-x-0 md:divide-x md:flex-row w-full">
            <div class="flex flex-col basis-1/5 shrink-0 p-2 gap-2">
                <span class="text-xl text-black">@Project.Title</span>
                <span>@(Project.Group ?? "<Keine Gruppe>")</span>
                <span class="flex gap-1">
                    @{
                        var projectDepartments = Project.Departments
                            .Select(departmentId => AllDepartments.FirstOrDefault(v => v.Id == departmentId))
                            .OfType<DepartmentDto>();
                    }
                    @foreach (var department in projectDepartments)
                    {
                        var styles = $"background-color: {department.Color}";
                        <span class="btn !cursor-auto text-white !rounded-lg" style="@styles">@department.Name</span>
                    }
                </span>
                <span class="text-sm text-gray-600">
                    <strong>@Project.Organizer.DisplayName</strong>
                    @foreach (var coOrganizer in Project.CoOrganizers)
                    {
                        <text>, @coOrganizer.DisplayName</text>
                    }
                </span>
                <div class="text-sm text-gray-600">
                    @if (Project.TimeSelection.Type == TimeSelectionTypeDto.Continuous)
                    {
                        <text>laufend</text>
                    }
                    else if (Project.TimeSelection.Type == TimeSelectionTypeDto.Regular)
                    {
                        <text>regelmäßig alle @Project.TimeSelection.RegularIntervalMinutes Minuten</text>
                    }
                    else if (Project.TimeSelection.Type == TimeSelectionTypeDto.Individual)
                    {
                        <ul class="list-disc list-inside">
                        @foreach (var time in Project.TimeSelection.IndividualTimes)
                        {
                            <li>@time.ToLongDateString() | @time.ToString("HH:mm")</li>
                        }
                        </ul>
                    }
                </div>
                <span class="text-sm text-gray-600">@Project.Location (@(AllBuildings.FirstOrDefault(v => v.Id == Project.Building)?.Name ?? "unbekanntes Gebäude"))</span>
            </div>
            <div class="grow flex flex-col p-2">
                <div class="description grow">
                    @ProjectDescription
                </div>
                <div>
                    @if (Project.Media.Count == 0)
                    {
                        <span class="text-sm">Keine Medien vorhanden.</span>
                    }
                    else if (!showMedia)
                    {
                        <a class="link text-sm" @onclick="ToggleShowMedia">@Project.Media.Count @(Project.Media.Count == 1 ? "Medium" : "Medien") anzeigen</a>
                    }
                    else
                    {
                        <a class="link text-sm" @onclick="ToggleShowMedia">@Project.Media.Count @(Project.Media.Count == 1 ? "Medium" : "Medien") verstecken</a>

                        <div class="flex flex-row flex-wrap gap-2 items-center pt-2">
                            @foreach (var media in Project.Media)
                            {
                                if (media.Type == ProjectMediaTypeDto.Image)
                                {
                                    <img width="360" src="@media.Url" />
                                }
                                else if (media.Type == ProjectMediaTypeDto.Video)
                                {
                                    <video width="360" src="@media.Url" controls />
                                }
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="flex flex-col basis-1/6 gap-2 p-2">
                @if (Project.Links.Edit != null)
                {
                    <NavLink class="btn btn-blue" href=@Project.Links.Edit>Bearbeiten</NavLink>
                }
                @if (Project.Links.Delete != null)
                {
                    if (deletionState == ConfirmableActionState.None)
                    {
                        <button class="btn btn-red" onclick=@(() => MarkForDeletion())>Löschen</button>
                    }
                    else if (deletionState == ConfirmableActionState.IsPreparedToExecute)
                    {
                        <button class="btn btn-red-filled" onclick=@(() => Delete())>Wirklich löschen</button>
                    }
                    else if (deletionState == ConfirmableActionState.IsExecuting)
                    {
                        <button class="btn btn-red-filled" disabled>
                            <span class="spinner spinner-white"></span>
                        </button>
                    }
                }
            </div>
        </div>
    </div>
}
@code {
    private readonly JsonSerializerOptions serializerOptions = new JsonSerializerOptions(JsonSerializerDefaults.Web);

    [Parameter]
    public ProjectDto? Project { get; set; }

    [Parameter]
    public IReadOnlyList<DepartmentDto> AllDepartments { get; set; } = [];

    [Parameter]
    public IReadOnlyList<BuildingDto> AllBuildings { get; set; } = [];

    public MarkupString ProjectDescription
    {
        get
        {
            if (Project == null)
            {
                return default;
            }
            var markdownPipeline = new MarkdownPipelineBuilder()
                .DisableHtml()
                .UseAutoLinks(new AutoLinkOptions { OpenInNewWindow = true })
                .Build();
            return (MarkupString)Markdown.ToHtml(Project.Description, markdownPipeline);
        }
    }

    [Parameter]
    public Action<ProjectDto, ProjectDto>? OnUpdate { get; set; }

    [Parameter]
    public Action? OnDelete { get; set; }

    enum ConfirmableActionState
    {
        None,
        IsPreparedToExecute,
        IsExecuting
    }

    private ConfirmableActionState deletionState;

    private void MarkForDeletion()
    {
        deletionState = ConfirmableActionState.IsPreparedToExecute;
        StateHasChanged();
    }

    private async Task Delete()
    {
        deletionState = ConfirmableActionState.IsExecuting;
        StateHasChanged();
        try
        {
            var response = await Http.DeleteAsync(Project!.Links.Delete);
            response.EnsureSuccessStatusCode();
            OnDelete?.Invoke();
        }
        finally
        {
            deletionState = ConfirmableActionState.None;
            StateHasChanged();
        }
    }

    private bool showMedia = false;

    private void ToggleShowMedia()
    {
        showMedia = !showMedia;
        StateHasChanged();
    }
}
